html{
    background-color: rgb(237, 237, 171);
}

h1 {
    color: red;
    
}
h1:hover{
    color: blue;
}

p {
    column-rule-color: red;
    column-rule-style: ridge;
    column-rule-width: 2px;
    column-count: 3;
    column-gap: 40px;
}

p:hover {
    background-color: yellow;
    color: blue;
}